.main-body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 85px;
    flex-direction: column;
}

.search-input {
    padding: 8px;
    border: 3px solid #000000;
    border-radius: 4px;
    width: 200px;
    height: 30px;
}

.search-button{
width: 100px;
height: 28px;
background-color: red;
color: white;
margin-left: 10px;
}

.search-button:hover{
    font-size: 16px;
    width: 105px;
}

.home-post{
    width: 800px;
    height: 460px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color: rgb(203, 155, 155);
    margin-top: 20px;
}

.home-post h4{
margin-left: 300px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    width: 200px;
    background-color: black;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}