.profile-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    flex-direction: column;
}

.profile-image {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

.profile-caption{
    text-align: center;
}

.image-post {
    display: flex;
    flex-direction: column;
}

#imageInput[type="file"] {
    background-color: rgb(199, 203, 227);
    display: none;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 100px;
}

.custom-file-input-label {
    margin-top: -20px;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 10px;
}

.follow-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
width:500px;
}

.profile-post{
    width: 800px;
    height: 480px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color: rgb(203, 155, 155);
    margin-bottom: 60px;
}

.post-image{
    width:600px;
    height:350px;
    border:2px solid black;
    background-color: white;
    margin: 5px 90px;
}

.post-likes{
    display: flex;
    justify-content: space-around;
}

.create-post{
    width: 120px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.create-post1{
    text-decoration: none;
    border: 2px solid black;
    height: 30px;
    width: 200px;
font-weight: bold;
display: inline-block; 
text-align: center;
padding-top: 5px;
border-radius: 10px;
background-color: black;
color: white;
}

.create-post:hover{
    width:125px;
    color:yellow;
}

.post-likes button{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    width: 100px;
    height: 30px;
}
